.homepage_our_latest_thoughts_parent.full_width {
    background-color: var(--light_grey);
    border-radius: clamp(2rem, 1.14vi + 1.55rem, 3rem);
    padding-top: clamp(4rem, 3.41vi + 2.64rem, 7rem);
    padding-bottom: clamp(4rem, 3.41vi + 2.64rem, 7rem);
}

.homepage_our_latest_thoughts_parent .fixed_width {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow: visible;
}

.homepage_our_latest_thoughts_parent .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage_our_latest_thoughts_parent.full_width .swiper-button-prev .material-symbols-outlined,
.homepage_our_latest_thoughts_parent.full_width .swiper-button-next .material-symbols-outlined {
  visibility: visible !important;
}

.homepage_our_latest_thoughts_parent .title strong {
    color: var(--font_grey);
}

.homepage_our_latest_thoughts_parent .swiper-slide {
    height: auto;
    flex-grow: 1;
    pointer-events: all;
    max-width: 58rem;
}

.homepage_our_latest_thoughts_parent .swiper {
    overflow: visible;
}

.homepage_our_latest_thoughts_parent .buttons {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.homepage_our_latest_thoughts_parent .swiper_buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.homepage_our_latest_thoughts_parent .swiper-button-prev {
    transform: rotateY(180deg);
}

.homepage_our_latest_thoughts_parent .swiper-button-next:after, .homepage_our_latest_thoughts_parent .swiper-button-prev:after {
    content: '';
}

.homepage_our_latest_thoughts_parent .swiper-button-prev, .homepage_our_latest_thoughts_parent .swiper-button-next {
    top: unset;
    left: unset;
    right: unset;
    position: relative;
    color: var(--font_blue);
    border-radius: 50%;
    background-color: white;
    width: 4rem;
    height: 4rem;
    z-index: 1;
    margin-top: unset;
    transition: background-color .2s ease;
}

.homepage_our_latest_thoughts_parent .swiper-button-prev span, .homepage_our_latest_thoughts_parent .swiper-button-next span {
    font-weight: 200;
    font-size: 2.3rem;
}

.homepage_our_latest_thoughts_parent article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.homepage_our_latest_thoughts_parent article .container {
    position: relative;
    bottom: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity .3s ease, bottom .3s ease;
    pointer-events: auto;
}

.homepage_our_latest_thoughts_parent .middle_section h2 {
    font-size: var(--h3_title);
}

.homepage_our_latest_thoughts_parent .middle_section {
    padding-top: clamp(1.2rem, 0.34vi + 1.06rem, 1.5rem);
    padding-bottom: clamp(1.2rem, 6.59vi + -1.44rem, 7rem);
}
  
.homepage_our_latest_thoughts_parent .top_section ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    transition: opacity .5s ease;
}
  
.homepage_our_latest_thoughts_parent .top_section li {
    text-transform: uppercase;
    border-radius: 5rem;
    color: var(--orange);
    background-color: rgba(229, 151, 39, .13);
    padding: .1rem 1.1rem;
    font-size: clamp(1.4rem, 0.45vi + 1.22rem, 1.8rem);
    letter-spacing: 0.15rem;
}
  
.homepage_our_latest_thoughts_parent .bottom_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
.homepage_our_latest_thoughts_parent .bottom_section a:first-of-type {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 0.57vi + 0.57rem, 1.3rem);
    color: var(--font_grey);
}
  
.homepage_our_latest_thoughts_parent .bottom_section a:nth-of-type(1) img {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.homepage_our_latest_thoughts_parent .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
  
.homepage_our_latest_thoughts_parent .bottom_section a:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: clamp(0.75rem, 0.28vi + 0.64rem, 1rem);
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: all .2s ease;
}
  
.homepage_our_latest_thoughts_parent .bottom_section a:nth-of-type(2) span {
    transform: rotate(-45deg);
    font-size: 5rem;
    font-weight: 200;
}

.homepage_our_latest_thoughts_parent .swiper-slide {
    opacity: 1;
    transition: opacity 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
    .homepage_our_latest_thoughts_parent article > .container > a:nth-of-type(1):hover + .bottom_section a:nth-of-type(2),
    .homepage_our_latest_thoughts_parent .bottom_section a:nth-of-type(2):hover {
    background-color: var(--orange);
    color: white;
    transition: all .3s ease;
    }

    .homepage_our_latest_thoughts_parent article > .container .bottom_section .team_member:hover + .arrow {
        background-color: white;
        color: var(--font_blue);
    }

    .homepage_our_latest_thoughts_parent .swiper-button-prev:hover, .homepage_our_latest_thoughts_parent .swiper-button-next:hover {
        background-color: var(--orange);
        transition: background-color .2s ease;
    }

    .homepage_our_latest_thoughts_parent .navigation_button_template:hover {
        border-color: var(--font_blue);
    }

    .homepage_our_latest_thoughts_parent .swiper-wrapper:hover .swiper-slide {
        opacity: 0.3;
    }

    .homepage_our_latest_thoughts_parent .swiper-slide:hover {
        opacity: 1 !important;
    }
}


/* 530px */
@media screen and (max-width: 33.125em) {
    .homepage_our_latest_thoughts_parent .title {
        flex-direction: column;
        gap: 1.8rem;
        align-items: flex-start;
    }

    .homepage_our_latest_thoughts_parent .buttons {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
}

