.contact_form_parent .fixed_width {
    display: flex;
    gap: clamp(2.5rem, 0.57vi + 2.27rem, 3rem);
    overflow: visible;
}

.contact_form_parent {
    padding-top: clamp(5rem, 2.27vi + 4.09rem, 7rem);
}

.contact_form_parent .left_side,
.contact_form_parent .right_side {
    width: calc(50% - 1.5rem);
}

.contact_form_parent .left_side {
    display: flex;
    flex-direction: column;
    gap: clamp(2.5rem, 1.7vi + 1.82rem, 4rem);
}

.contact_form_parent .left_side .title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(42rem, 100%);
}

.contact_form_parent .company_details {
    display: flex;
    gap: .1rem;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.contact_form_parent .link a {
    display: flex;
    gap: .8rem;
    align-items: center;
    font-weight: 300;
    font-size: 1.3rem;
}

.contact_form_parent .email a {
    gap: .9rem;
}

.contact_form_parent .link span,
.contact_form_parent .link svg {
    width: 1.2rem;
    height: auto;
    font-size: 1.5rem;
}

.contact_form_parent .socials {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.contact_form_parent .socials .link:nth-of-type(1) a {
    margin-left: -.3rem;
    gap: .4rem;
}

.contact_form_parent .socials .link:nth-of-type(1) svg {
    width: 1.9rem;
}

#forminator-module-724 {
    margin: 0;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-label {
    font-size: 1.6rem;
    color: var(--font_grey);
    font-weight: 400;
    margin-bottom: .3rem;
}

.et-db #et-boc .et_pb_module .forminator-ui.forminator-custom-form[data-design=flat] .forminator-field, .forminator-ui.forminator-custom-form[data-design=flat] .forminator-field {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
    row-gap: .2rem;
    position: relative;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-label .response_creator_message {
    display: flex;
    align-items: center;
    float: right;
    color: #55ae55;
    margin-top: 0;
    font-size: 1.6rem;
    gap: .3rem;
    margin-left: 1rem;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-label .response_creator_message span {
    font-size: 1.7rem;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-textarea,
.forminator-ui#forminator-module-724.forminator-design--flat .forminator-input, .forminator-ui#forminator-module-724.forminator-design--flat .forminator-input input,
#forminator-module-724.forminator-design--flat .forminator-is_active .forminator-textarea,
#forminator-module-724.forminator-design--flat .forminator-is_active .forminator-input,
#forminator-module-724.forminator-design--flat .forminator-textarea,
#forminator-module-724.forminator-design--flat .forminator-input {
    background-color: var(--light_grey);
    color: var(--font_blue);
    resize: none;
    border-radius: .5rem;
    font-size: clamp(1.8rem, 0.45vi + 1.62rem, 2.2rem);
    padding: 1.3rem;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-textarea,
#forminator-module-724.forminator-design--flat .forminator-input {
    border: 1px solid transparent;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-textarea:focus,
#forminator-module-724.forminator-design--flat .forminator-input:focus {
    border-color: var(--font_blue);
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-has_error .forminator-input {
    border-color: #E04562;
    box-shadow: none;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-error-message {
    background-color: transparent;
    color: red;
    position: absolute;
    top: -6px;
    right: 0;
    font-size: 1.6rem;
}

.forminator-is_filled label {
    display: none;
}

.forminator-edit-module,
.forminator-ui#forminator-module-724.forminator-design--flat .forminator-description {
    display: none;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-button-submit {
    background-color: var(--light_grey) !important;
    color: var(--font_blue);
    width: fit-content;
    margin-bottom: 0;
    font-size: clamp(1.6rem, 0.23vi + 1.51rem, 1.8rem);
    box-shadow: none !important;
}


.forminator-ui#forminator-module-724.forminator-design--flat .forminator-button-submit:focus {
    background-color: var(--orange) !important;
    outline: 1px solid var(--font_blue);
    color: white;
}

.forminator-ui.forminator-custom-form[data-design=flat] .forminator-button {
    border-radius: 5rem;
    padding: .6rem 2rem;
    min-width: unset;
    transition: all .3s ease;
}

.recaptcha-checkbox-border {
    border-color: var(--light_grey);
}

.et-db #et-boc .et_pb_module .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:not(:last-child), .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:not(:last-child) {
    margin-bottom: 1rem;
}

.contact_form_parent .right_side {
    position: relative;
}

#captcha-1{
    opacity: 0;
}

.contact_form_parent .right_side .captcha_text {
    position: absolute;
    color: var(--font_grey);
    bottom: 1.8rem;
    right: 0;
    font-size: 1.2rem;
    width: 26rem;
    font-weight: 300;
}

.start_your_project_parent form {
    position: relative;
}

#forminator-module-724 .forminator-response-message p {
    font-size: clamp(1.8rem, 0.45vi + 1.62rem, 2.2rem) !important;
    margin-left: .8rem;
}
#forminator-module-724 .forminator-response-message {
    border-radius: .5rem !important;
    font-size: clamp(1.8rem, 0.45vi + 1.62rem, 2.2rem) !important;
    box-shadow: none;
    font-weight: 600 !important;
    position: absolute !important;
    top: 35%;
    z-index: 1 !important;
    width: 100%;
    margin: 0;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-button-submit:active {
    color: var(--font_blue);
}

#forminator-module-724 .forminator-response-message.forminator-loading:before, #forminator-module-724.forminator-response-message.forminator-loading:before {
    content: "◌";
    position: absolute;
    top: 1.8rem;
    left: 2rem;
    font-weight: 600;
    color: var(--orange);
    font-size: clamp(1.8rem, 0.45vi + 1.62rem, 2.2rem) !important;
}

.forminator-ui#forminator-module-724.forminator-design--flat .forminator-response-message.forminator-loading, .forminator-ui#forminator-module-724.forminator-design--flat .forminator-response-message.forminator-loading p,
#forminator-module-724.forminator-design--flat .forminator-response-message.forminator-success {
    background-color: var(--font_blue);
    color: white;
}

#forminator-module-724.forminator-design--flat .forminator-response-message.forminator-success {
    margin: 0 0 20px;
    padding: 15px 20px 15px 22px;
    text-align: left;
}

#forminator-module-724 .forminator-error-message {
    background-color: transparent;
    color: red;
    position: absolute;
    top: -6px;
    right: 0;
    font-size: 1.6rem;
}

/* 900px */
@media screen and (max-width: 56.25em) {
    .contact_form_parent .fixed_width {
      flex-direction: column;
    }

    .contact_form_parent .left_side .title {
        width: auto;
    }

    .contact_form_parent .left_side {
        width: auto;
    }

    .contact_form_parent .right_side {
        width: min(50rem, 100%);
    }

    .contact_form_parent .right_side .captcha_text {
        bottom: 1rem;
    }
  }

  /* 430px */
@media screen and (max-width: 26.875em) {
    .contact_form_parent .right_side .captcha_text {
        font-size: 1rem;
        width: 16rem;
        bottom: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    #forminator-module-724.forminator-design--flat .forminator-textarea:hover,
    #forminator-module-724.forminator-design--flat .forminator-input:hover {
        background-color: var(--light_grey);
    }

    .forminator-ui#forminator-module-724.forminator-design--flat .forminator-button-submit:hover {
        background-color: var(--orange) !important;
        color: white !important;
        box-shadow: none;
        transition: all .3s ease;
    }

    .contact_form_parent .right_side p a:hover {
        color: var(--orange);
    }

    .forminator-ui#forminator-module-724.forminator-design--flat .forminator-textarea:hover,
    #forminator-module-724.forminator-design--flat .forminator-input:hover {
        border-color: var(--font_blue);
        transition: none;
    }
}

